<div class="row">
  <div class="">
    <div class="col-md-2" style="margin: 8px">
      <select
        [(ngModel)]="selectedOption">
        <option value="default" selected disabled>Please select</option>
        <option *ngFor="let user of users">
          {{user.username}}
        </option>
      </select>
    </div>
    <div class="col-md-3">
      <button
        type="button"
        class="btn"
        style="margin: 0 0 0 20px"
        (click)="checkUserRecipes()">Click me</button>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-all-reipe-item
      *ngFor="let recipeEl of recipes; let i = index"
      [recipe]="recipeEl"
      [index]="recipeEl.id"></app-all-reipe-item>
  </div>
</div>
