<div class="container">
  <div class="row text-center">
    <div class="col-xs-12" style="margin-bottom: 5px">
      <h1>{{ recipe.title }}</h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12" style="margin-bottom: 10px">
      <h3><i class="ion ion-md-heart" style="color: #afa691"></i>{{'&#12288;'}}{{recipe.totallikes }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img
        [src]="recipe.photo.link"
        alt="{{ recipe.photo.name }}"
        class="img-responsive"
        style="max-height: 700px">
    </div>
  </div>
  <br>
  <div style="margin-left: 50px; margin-right: 50px">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-6" style="padding-left: 80px">
          <p>PREP TIME</p>
          <div class="circle">
            {{prepTime}}
          </div>
        </div>
        <div class="col-md-6" style="padding-left: 80px">
          <p>COOK TIME</p>
          <div class="circle">
            {{cookTime}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="width:400px;height:30px;text-align:center;line-height:10px;">
      <button
        class="btn"
        type="button"
        style="margin-top: 40px"
        *ngIf="Auth"
        (click)="changeFavorite()"
      ><i class="ion ion-md-heart"></i>   {{favorite}}</button>
      <button
        class="btn"
        type="button"
        style="margin-top: 40px"
        *ngIf="!Auth"
        routerLink="/signin"
      >SIGN IN/SIGN UP</button>

    </div>
    <div class="col-md-4" style="margin-left: 300px">
      <div class="row; center">
        <p>SHARED</p>
        <ul class="list-inline">
          <li style="font-size: 200%"><a href=""><i class="ion ion-logo-facebook" style="color: #afa691"></i></a></li>
          <li style="font-size: 200%"><a href=""><i class="ion ion-logo-twitter" style="color: #afa691"></i></a></li>
          <li style="font-size: 200%"><a href=""><i class="ion ion-logo-instagram" style="color: #afa691"></i></a></li>
          <li style="font-size: 200%"><a href=""><i class="ion ion-logo-pinterest" style="color: #afa691"></i></a></li>
          <li style="font-size: 200%"><a href=""><i class="ion ion-md-print" style="color: #afa691"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
    <div class="row" style="margin-top: 30px">
      <div class="col-xs-12">
        <p style="font-size: 150%; color: black">{{ recipe.description }}</p>
      </div>
    </div>
    <div class="row" style="margin-top: 20px">
      <div class="col-xs-6">
        <p style="font-size: 130%; color: #222222">Ingredients</p>
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let ingredient of recipe.ingredients">
            {{ingredient}}
          </li>
        </ul>
      </div>
      <div class="col-xs-6">
        <p style="font-size: 130%; color: #222222">Directions</p>
        <ul class="list-group">
          <li
            class="list-group-item clearfix"
            *ngFor="let direction of recipe.directions; let i = index">
            <span class="badge pull-left">{{i+1}}</span>{{'&#12288;'}}{{direction}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
