<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Share your favorite real cheese recipe.</h1>
      <h4>Real Cheese People know the best recipe is one shared with friends. Share your favorite recipes with us for a chance to have them featured on Sargento.com!</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="name">RECIPE NAME</label>
              <input
                type="text"
                id="name"
                formControlName="name"
                class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="imagePath">PHOTO URL</label>
              <input
                type="text"
                id="imagePath"
                formControlName="imagePath"
                class="form-control"
                #imagePath>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <img [src]="imagePath.value" class="img-responsive" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="description">DESCRIPTION</label>
              <textarea
                type="text"
                id="description"
                class="form-control"
                formControlName="description"
                rows="6"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12" formArrayName="ingredients">
            <div
              class="row"
              *ngFor="let ingredientCtrl of getControls(); let i = index"
              [formGroupName]="i"
              style="margin-top: 10px;">
              <div class="col-xs-10">
                <input
                  type="text"
                  class="form-control"
                  formControlName="name">
              </div>
              <div class="col-xs-2">
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="onDeleteIngredient(i)">X</button>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-xs-12">
                <button
                  type="button"
                  class="btn btn-success"
                  (click)="onAddIngredient()">ADD INGREDIENT</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12" formArrayName="directions">
            <div
              class="row"
              *ngFor="let directionCtrl of getDirectionsControls(); let i = index"
              [formGroupName]="i"
              style="margin-top: 10px;">
              <div class="col-xs-10">
                <input
                  type="text"
                  class="form-control"
                  formControlName="name">
              </div>
              <div class="col-xs-2">
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="onDeleteDirection(i)">X</button>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-xs-12">
                <button
                  type="button"
                  class="btn"
                  (click)="onAddDirection()">ADD DIRECTION</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12" style="margin-top: 10px;">
            <div class="form-group">
              <label for="prep">PREP TIME</label>
              <input
                type="text"
                id="prep"
                formControlName="prep"
                class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="cook">COOK TIME</label>
              <input
                type="text"
                id="cook"
                formControlName="cook"
                class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="category">MEAL CATEGORY</label>
              <select class="form-control" id="category" formControlName="category">
                <option value="" selected disabled>Please select</option>
                <option value="zhejiang">zhejiang</option>
                <option value="jiangsu">jiangsu</option>
                <option value="hunan">hunan</option>
                <option value="fujian">fujian</option>
                <option value="anhui">anhui</option>
                <option value="sichuan">sichuan</option>
                <option value="shandong">shandong</option>
                <option value="cantonese">cantonese</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button
              type="button"
              class="btn"
              [disabled]="!recipeForm.valid">SUBMIT RECIPE</button>
            <!--<button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>-->
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
