h1 {
  margin: 0 0 20px 0;
  color: black;
  font-style: italic;
  word-spacing: 4px;
  letter-spacing: 2px;
}

h1:after {
  display: block;
  height: 2px;
  width: 100px;
  background-color: black;
  content: " ";
  margin: 15px 0 0;
}

.btn {
  background-color: #afa691;
  border: 1px solid #afa691;
  color: white;
  font-size: 100%;
  word-spacing: 4px;
  letter-spacing: 2px;
  font-weight: 600;
}

.btn:link,
.btn:visited,
input[type=submit]{
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #afa667;
}

.center {
  margin: auto;
  width: 19%;
  padding: 10px;
}
