<div class="row">
  <div class="row">
    <h4 class="col-md-1">GENDER: </h4>
    <p class="col-md-5">{{gender}}</p>
  </div>
  <div class="row">
    <div class="col-md-1">
      <h4>BIRTHDAY: </h4>
    </div>
    <div class="col-md-5">
      <p>{{birthday}}</p>
    </div>
  </div>
  <div class="row">
    <h4 class="col-md-1">CITY: </h4>
    <p class="col-md-5">{{city}}</p>
  </div>
  <div class="row">
    <h4 class="col-md-1">STATE: </h4>
    <p class="col-md-1">{{state}}</p>
  </div>
  <div class="row">
    <h4 class="col-md-1">ZIP: </h4>
    <p class="col-md-1">{{zip}}</p>
  </div>
</div>
