<p *ngIf="favoritePhotos.length == 0">You do not saved any Recipes.</p>
<div class="section-meals">
  <ul class="meals-showcase clearfix">
    <li
      class="clearfix"
      *ngFor="let fp of favoritePhotos; let i = index">
      <figure class="meal-photo" style="position: relative">
        <img
          [src]="fp.link"
          alt=""
          routerLink="/recipes/../../{{fp.recipeId}}"
          routerLinkActive="active">
        <span style="position: absolute; bottom: 50%; left: 20%; color: white; font-size: 150%">{{fp.title}}</span>
      </figure>
    </li>
  </ul>
</div>
