<nav class="navbar navbar-default" style="background-color: #f6f1e5">
  <div class="container-fluid">
    <!--<div class="navbar-header">-->
      <!--<a routerLink="/" class="navbar-brand" *ngIf="authService.isAuthenticated()">Admin</a>-->
    <!--</div>-->
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav" style="padding-left: 100px">
      <li><a routerLink="/">HOME</a></li>
      <li><a routerLink="/recipes">RECIPES</a></li>
      <li><a routerLink="/">SEARCH</a></li>
      <li><a routerLink="/">ABOUT US</a></li>
      <li routerLinkActive="active" *ngIf="false"><a routerLink="/history">History Reimder</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" style="padding-right: 100px">
      <ng-template [ngIf]="!isAuth()">
        <li style="margin-right: 20px"><a routerLink="/signin">LOGIN/SIGN UP</a></li>
      </ng-template>
      <ng-template [ngIf]="isAuth()">
        <li><a routerLink="/user">MY ACCOUNT</a></li>
        <li><a style="cursor: pointer" (click)="onLogout()">SIGN OUT</a></li>
      </ng-template>
    </ul>
  </div>
</nav>
