<div class="row" style="padding: 50px">
  <div class="col-md-6" style="padding-right: 200px">
    <h2>Login</h2>
    <br>
    <div class="mailpassword-invalid">
      <p>{{invalid}}</p>
    </div>
    <form (ngSubmit)="onSignin(f)" #f="ngForm">
      <div class="form-group">
        <label for="username">USERNAME</label>
        <input type="email" id="username" name="username" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="password">PASSWORD</label>
        <input
          type="password"
          id="password"
          name="password"
          ngModel
          class="form-control">
      </div>
      <br>
      <button class="btn" type="submit" [disabled]="!f.valid">LOG IN</button>
    </form>
  </div>
  <div class="vl"></div>
  <div class="col-md-6">
    <div class="row">
      <p style="font-weight: 600; margin-top: 50px">Why sign up?</p>
      <br>
      <p>Save your favorite recipes and submit your own</p>
      <br>
      <p>Personalized Recipe Book</p>
      <br>
      <p>Exclusive offers and promotions</p>
      <br>
      <p>Newsletters, tips, pairings, and recipes tailored to your tastes</p>
      <br>
      <button class="btn" type="submit" (click)="onSignUp()">SIGN UP</button>
    </div>
  </div>
</div>
