<h2 class="center">Our Work</h2>
<h5>For final project you need to build a fully featured web application. These projects will need to be accomplished in groups of two or three people. Please see the instructor for groups of sizes other than two or three for permission.

  For the final project you will implement a fully featured web application with the features listed below. Completing these features will get you a satisfactory grade (B or B+), if you want an excellent grade you will need to go above and beyond and add additional features to your application.</h5>
