<a
  style="cursor: pointer;margin-top: 20px"
  routerLink="/recipes/../../{{index}}"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="row" style="padding: 5px">
    <div class="col-md-5">
        <span class="pull-left">
        <img
          [src]="recipe.photo.link"
          alt="{{ recipe.title }}"
          class="img-responsive"
          style="max-height: 200px;">
      </span>
    </div>
    <div class="col-md-7; center" style="height: 150px;">
        <h4 class="list-group-item-heading">{{ recipe.title }}</h4>
        <br>
        <p class="list-group-item-text">
          <i
            class="ion ion-md-heart"
            style="color: #afa667"></i>
            {{'&#8194;'}}
            {{ recipe.totallikes}}
        </p>
    </div>
  </div>
</a>
